<div class="navbar navbar-fixed-top navbar-tall header" style="background-color: #888">
    <div class="navbar-inner">
        <div class="container-fluid">
            <a class="brand" href="#/"><img src="images/OpenSRP.png"  height="100" width="100" alt="Dristhi Health Dashboard"/></a>
            
            <p class="navbar-text pull-right">
                <a href="#/households" > Households</a> |
                <a href="#/elcos" > Elcos</a> | 
                Signed in as {{username}} | <a href="#/logout" class="navbar-link">Sign out</a>
            </p>
        </div>
    </div>
</div>
