<div class="col-sm-3 col-md-3">
                <div class="panel-group" id="accordion">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div data-toggle="collapse" data-parent="#accordion" href="#collapseOne">
                                    <span class="glyphicon glyphicon-folder-close"></span>
                                    Report
                                </div>
                            </h4>
                        </div>
                        <div id="collapseOne" class="panel-collapse collapse in">
                            <div class="panel-body">
                                <ul class="nav">
                                    <li><a href="#/fwa-performance">FWA Performance</a></li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h4 class="panel-title">
                                <div data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">
                                    <span class="glyphicon glyphicon-th"></span>
                                    Data 
                                </div>
                            </h4>
                        </div>
                        <div id="collapseTwo" class="panel-collapse collapse">
                            <div class="panel-body">
                                <table class="table">
                                    <tr>
                                        <td>
                                            <a href="#/households">Household</a> 
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#/elcos">Elco</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">ANC</a>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <a href="#">PNC</a>
                                        </td>
                                    </tr>
                                    
                                </table>
                            </div>
                        </div>
                    </div>                                      
                </div>
            </div>