<data-ng-include src="'views/partials/header-inner.html'"></data-ng-include>
<script type="text/javascript" src="assets/js/download.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css" />
<script type="text/javascript" src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<section>
    <div class="container">
        <div class="row">
            <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>           
            <div class="col-sm-9 col-md-9">
               <form  ng-submit="createAccessTokens()">
                <legend>Create Access Tokens</legend>
                <label>Access Tokens Name</label> 
                <input type="text" id="name" name="name" ng-model="formData.name" placeholder="Access Tokens Name">
                
                <button  class="btn btn-primary">Submit</button>
               </form>
                
            </div><!-- content accordion  end -->
        </div>
    </div>    
</section>

<data-ng-include src="'views/partials/footer.html'" style="clear: both;" class="navbar"></data-ng-include>




