<data-ng-include src="'views/partials/header.html'"></data-ng-include>
<section>
    <div class="container">
        <div class="row">
            <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>           
            <div class="col-sm-9 col-md-9">              
              <div class="spinner" ng-show="loading"> <center><img src="images/spinner.gif"  alt="Opensrp"/></center></div>
              <div ng-bind-html="createRole" ></div>
              <table>
                <tr>
                    <td style="width: 10%">Role Name</td><td style="width: 10%" ng-repeat="access in accessList track by $index"> {{access}}</td>                  
                </tr>                
              </table>
              <hr/>              
              <table>
              <tr ng-repeat="role in roleList track by $index">
                <td style="width: 10%"><a href="/#/role/{{role.roleId}}" >{{role.roleName}}</a></td>
                <td style="width: 10%" ng-repeat="access in accessList track by $index">
                  <input  ng-checked="checked(access,role)" type="checkbox"  class="role_method" ng-model="formData.accessTokens[$index]" ng-true-value="'{{access}}'"> 
                </td>                
              </tr>
              </table>
            </div><!-- content accordion  end -->
        </div>
    </div>    
</section>



