<data-ng-include src="'views/partials/header.html'"></data-ng-include>

<!--<link rel="stylesheet" href="assets/css/MarkerCluster.css" />
<link rel="stylesheet" href="assets/css/MarkerCluster.Default.css" /> -->
<section>  
  <div class="container">
    <div class="row" style="margin-left: 300px;">
      <!-- <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include> -->

      <div class="row"> <!-- main col left -->  
          <div class="col-md-7">
              <span class="note">SELECT FORM</span>
              <font color="red">*</font>
          </div>        
      </div>
      <div class="row">
        <div class="col-md-7">
            <select id="dropdownMenu1" class="form-control" name="dropdownMenu1" ng-model="form">
              <option ng-repeat="form in forms" value="{{form}}">{{form}}</option>
            </select>
        </div>
      </div>
      <div class="row"> <!-- main col left -->  
          <div class="col-md-7">
              <span class="note">SELECT DATE</span>
              <font color="red">*</font>
          </div>        
      </div>

      <div class="row">
        <div class="col-md-7">
          <input class="form-control" id="dateRange" type="daterange" placeholder="yy-mm-date" limit="3 months" max-date="{{btime}}" ng-model="dateRange" readonly="readonly" ng-click="dataex()">  
        </div>      
      </div>
      
      <div class="col-md-7">
        <div class="row">
          <button ng-click="dataexport(dateRange,form)" style="background-color: #4CAF50; color: white; 
          padding: 10px 15px; text-align: center; text-decoration: none; display: inline-block; font-size: 18px;">Report</button>
        </div>
      </div>
      
      <div class="spinner" ng-show="loading"> <center><img src="images/spinner.gif"  alt="Opensrp"/></center></div>

    </div>



   
          <div class="row">
            <div class="col-xs-12 col-lg-12">
                <!-- content accordion  start -->           
              <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading2" role="tab" id="headingOne">
                    <table>
                      <thead> <!--table head-->
                        <tr style="background:none">
                          <th style="width:228px;">
                               Form Name                                                
                          </th>
                          <th style="width:157px;">
                              Report Name
                          </th>
                         
                          <th style="width:154px;">
                            Date                                                              
                          </th>
                          <th style="width:154px;">
                            Actions                                                             
                          </th>                                            
                        </tr>
                      </thead><!--//table head-->
                    </table>                        
                  </div>  <!--end panel-heading2 -->                     
                </div> <!--end panel panel-default -->
                 
                <div class="panel panel-default" ng-repeat="export in data">
                  <div class="panel-heading2" role="tab" id="headingTwo2">
                    <table class="table table-striped collapsed"  data-toggle="collapse" data-parent="#accordion2 "aria-expanded="false" aria-controls="collapseTwo">
                      <thead>
                        <tr>
                          <td style="width:150px;">               
                            {{export.formName}}  
                          </td>                                       
                          <td style="width:100px;">{{export.reportName}}</td>
                          <td style="width:100px;">{{export.created_date}}</td>
                          
<a href="{{EXPORTURL}}/multimedia/export/{{export.reportName}}" download="lo.ppf">Download</a>   
                         
                        </tr>
                      </thead>
                    </table><!--//table body-->                    

                  </div> <!--end  panel-heading2 -->
                                   
                </div> <!-- end panel panel-default -->
              
            </div><!-- end panel-group-->
          </div> <!-- end col-xs-12 col-lg-12-->
        </div><!--end row -->


  </div>    
</section>


