<data-ng-include src="'views/partials/header.html'"></data-ng-include>

<!--<link rel="stylesheet" href="assets/css/MarkerCluster.css" />
<link rel="stylesheet" href="assets/css/MarkerCluster.Default.css" /> -->
<section>  
  <div class="container">
    <div class="row">
      <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include> 

     

      <div class="col-md-7">
          <select id="dropdownMenu1" class="form-control" name="dropdownMenu1" ng-model="form">
            <option ng-repeat="form in forms" value="{{form}}">{{form}}</option>
          </select>

        <input class="form-control" type="daterange" placeholder="Select Date" limit="3 months" max-date="{{btime}}" ng-model="dateRange">
        <button ng-click="dataexport(dateRange,form)">Report</button>

      </div>

      </div>

    </div>
  </div>    
</section>