 <data-ng-include src="'views/partials/header.html'"></data-ng-include> 
<script type="text/javascript" src="assets/js/ec_chart.js"></script>

<div class="container">
    <section>    
       <div class="row">
        <!-- <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>	 -->
    <div class="col-sm-9 col-md-9">
      <!-- <div show-during-resolve class="loader">    -->
      <div ng-if="$root.loading" class="loader">   
        <center><img src="images/spinner.gif"  alt="Opensrp"/></center>
      </div>
			<div class="row"> <!-- main col left --> 
				<div class="starter-template3">		
					<div class="col-md-3">
						<div class="location" >
							<span class="glyphicon glyphicon-map-marker"></span>LOCATION
						</div>
					</div>
					<div class="col-md-3">
						<select id="f1_gn_q11_elem1" class="form-control" name="f1_gn_q11_elem1" ng-model="dis" ng-change="districtChanged()">
                <option value="">Select District </option>
                <option ng-repeat="district in districts" value="{{district.name}}">{{district.name}}</option>
                
              </select>
					</div>
					<div class=" col-md-3">
						<select id="upazilla_dd" class="form-control" name="f1_gn_q11_elem1" ng-model="upa" ng-change="upazillaChanged()">
                <option value="">Select Upazilla </option>
                <option ng-repeat="thana in thanas" value="{{thana.name}}">{{thana.name}}</option>
              </select>
					</div>
					<div class=" col-md-3">
						<select id="union_dd" class="form-control" name="f1_gn_q11_elem1" ng-model="uni" ng-change="locationClick()">
                <option  value="">Select Union </option>
                <option ng-repeat="union in unions"  value="{{union.name}}">{{union.name}}</option>
              </select>
					</div>
                </div> <!-- main col right -->
            </div><!--/row-->
			<div class="row"> <!-- main col left --> 
				<div class="starter-template3">		
					<div class="col-md-3">
						<div class="location" >
							<span class="glyphicon glyphicon-user"></span>WORKER NAME
						</div>
					</div>
					<div class="col-md-9">
						<select id="f1_gn_q11_elem1" class="form-control" name="f1_gn_q11_elem1" ng-model="uu">
                	<option value="">Select User </option>
                <option ng-repeat="user in users"  value="{{user}}">{{user}}</option>
              </select>              
					</div>
                </div> <!-- main col right -->
                <button ng-click = "changeChartData()" type="button">Show Data</button>
            </div><!--/row-->
			<div class="row">
          
				<div class="col-xs-6 col-lg-4">
					<div class="box2">
						<a href="/#/ec"><img src="../../images/cupol_icon.png" class="imgs" alt="image">  </a>			  
					</div>
				</div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
					<div class="box1 selected ">
						<a href="/#/hh"><img src="../../images/station_icon.png" class="imgs" alt="image"> </a>            
					</div>
				</div><!--/.col-xs-6.col-lg-4-->
        <div class="col-xs-6 col-lg-4">
				<div class="box3 ">
					<a href="/#/pw"><img src="../../images/p_icon.png" class="imgs" alt="image">  </a>              
				</div>
			</div><!--/.col-xs-6.col-lg-4-->
        </div>
		<div class="row">           
            <div class="col-xs-6 col-lg-4">
				<div class="count_box">
						<div class="box_inner1">
							<div class="box_top1" >  TODAY </div>
							<div class="box_buttom1" ng-bind="today">   </div>
						</div>
						<div class="box_inner1">
						  <div class="box_top1">  THIS WEEK  </div>
						  <div class="box_buttom1" ng-bind="thisWeek">  </div>
						</div>
						<div class="box_inner1">
							<div class="box_top1">   THIS MONTH   </div>
							<div class="box_buttom1" ng-bind="thisMonth">   </div>
						</div>
					</div>
            </div><!--/.col-xs-6.col-lg-4-->			
			<div class="col-xs-8 col-lg-8">
				<!--<div id="ecChart"></div> -->
        <canvas id="bar" chart-legend="true" options="options"chart-series="series" class="chart chart-bar" chart-data="chartData" chart-labels="labels">  </canvas>
			</div>
        </div>
    </div>
</div>       
</section>
    


