<data-ng-include src="'views/partials/header.html'"></data-ng-include>
<data-ng-include src="'views/partials/main-navbar.html'"></data-ng-include>
<div class="container-fluid container-tall">
    <div class="row-fluid">
        <div class="span10">
            <div ng-include="'views/partials/indicator-menu.html'" class="hide"></div>
           <br><br><br><br><br><br /><br />
           <h1>Elco List {{totalItems}}</h1>
            <label>Search:</label> <input type="text" ng-model="search.FWWOMAGE" placeholder="Search" />
            <label>Search:</label> <input type="text" ng-model="search.FWWOMFNAME" placeholder="Search" />
	    <p><strong><a href="" ng-click="resetFilters()">Show All</a></strong></p>
            <table class="table table-striped">
                    <thead>
                      <tr>
                        <th> <a href="/#/elcos" ng-click="sortType = 'FWWOMFNAME'; sortReverse = !sortReverse">FWWOMFNAME
                            <span ng-show="sortType == 'FWWOMFNAME' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'FWWOMFNAME' && sortReverse" class="fa fa-caret-up"></span>
                            </a>                        
                        </th>
                        <th>
                            <a href="/#/elcos" ng-click="sortType = 'FWGENDER'; sortReverse = !sortReverse">FWGENDER
                            <span ng-show="sortType == 'FWGENDER' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'FWGENDER' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="/#/elcos" ng-click="sortType = 'FWWOMAGE'; sortReverse = !sortReverse">FWWOMAGE
                            <span ng-show="sortType == 'FWWOMAGE' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'FWWOMAGE' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                        </th>
                        <th>
                            <a href="/#/elcos" ng-click="sortType = 'FWHUSNAME'; sortReverse = !sortReverse">FWHUSNAME
                            <span ng-show="sortType == 'FWHUSNAME' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'FWHUSNAME' && sortReverse" class="fa fa-caret-up"></span>
                            </a>
                            
                        </th>
                        <th>
                            <a href="http://localhost:9000/#/elcos" ng-click="sortType = 'FWNHREGDATE'; sortReverse = !sortReverse">FWNHREGDATE
                            <span ng-show="sortType == 'FWNHREGDATE' && !sortReverse" class="fa fa-caret-down"></span>
                            <span ng-show="sortType == 'FWNHREGDATE' && sortReverse" class="fa fa-caret-up"></span>
                            </a>                            
                        </th>                        
                      </tr>
                    </thead>
                    <tbody>
                       <tr ng-repeat="elcoRegisterEntry in data | filter:search | orderBy:sortType:sortReverse | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" >                  
                        <td>{{elcoRegisterEntry.FWWOMFNAME}}</td>
                        <td>{{elcoRegisterEntry.FWGENDER}}</td>
                        <td>{{elcoRegisterEntry.FWWOMAGE}}</td>
                        <td>{{elcoRegisterEntry.FWHUSNAME}}</td>
                         <td>{{elcoRegisterEntry.FWBIRTHDATE}}</td>                        
                      </tr>                      
                    </tbody>
              </table>
             <pagination page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit"></pagination>
            <p class="text-center" ng-show="loading">
                <img src="images/spinner.gif"  alt="Opensrp"/>
		
	    </p>
          <!--   <div ng-include="'views/partials/anm-data-summary.html'"></div> -->
        </div>
    </div>
    <data-ng-include src="'views/partials/footer.html'" style="clear: both;" class="navbar"></data-ng-include>
</div>



