<data-ng-include src="'views/partials/header-inner.html'"></data-ng-include>
<script type="text/javascript" src="assets/js/download.js"></script>


<section>
    <div class="container">
        <div class="row">
            <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>
            
            <div class="col-sm-9 col-md-9">
                <div>
                    <div class="pull-left search">
                        <input class="form-control" ng-model="search.FWWOMFNAME" type="text" placeholder="Search by name">
                    </div>
                    <div class="pull-left search">
                        <input class="form-control" type="text" placeholder="Search">
                    </div>
                    <div class="pull-left search">
                        <input class="form-control" type="text" placeholder="Search">
                    </div>
                    <div class="pull-left search">
                        <input class="form-control" type="text" placeholder="Search">
                    </div>
    
                </div>
                
                <!-- content accordion  start -->           
                <div class="panel-group" id="accordion2" role="tablist" aria-multiselectable="true">
                    <div class="panel panel-default">
                        <div class="panel-heading2" role="tab" id="headingOne">
                            <table>
                                <thead> <!--table head-->
                                    <tr style="background:none">
                                        <th style="width:250px; font-size:12px;">
                                            <a href="/#/elcos" ng-click="sortType = 'FWWOMFNAME'; sortReverse = !sortReverse">FWWOMFNAME
                                                <span ng-show="sortType == 'FWWOMFNAME' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'FWWOMFNAME' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>                        
                                        </th>
                                        <th style="width:245px;">
                                            <a href="/#/elcos" ng-click="sortType = 'FWGENDER'; sortReverse = !sortReverse">FWGENDER
                                                <span ng-show="sortType == 'FWGENDER' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'FWGENDER' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="/#/elcos" ng-click="sortType = 'FWWOMAGE'; sortReverse = !sortReverse">FWWOMAGE
                                                <span ng-show="sortType == 'FWWOMAGE' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'FWWOMAGE' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                        </th>
                                        <th>
                                            <a href="/#/elcos" ng-click="sortType = 'FWHUSNAME'; sortReverse = !sortReverse">FWHUSNAME
                                                <span ng-show="sortType == 'FWHUSNAME' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'FWHUSNAME' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>
                                    
                                        </th>
                                        <th>
                                            <a href="/#/elcos"  ng-click="sortType = 'FWNHREGDATE'; sortReverse = !sortReverse">FWNHREGDATE
                                                <span ng-show="sortType == 'FWNHREGDATE' && !sortReverse" class="fa fa-caret-down"></span>
                                                <span ng-show="sortType == 'FWNHREGDATE' && sortReverse" class="fa fa-caret-up"></span>
                                            </a>                            
                                        </th>                        
                                    </tr>
                                </thead><!--//table head-->
                            </table>                        
                        </div>                       
                    </div>
                    
                    <div class="panel panel-default" ng-repeat="elcoRegisterEntry in data | filter:search | orderBy:sortType:sortReverse | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit">
                        <div class="panel-heading2" role="tab" id="headingTwo2">
                            <table class="table table-striped collapsed"  data-toggle="collapse" data-parent="#accordion2" href="#{{elcoRegisterEntry.CASEID}}" aria-expanded="false" aria-controls="collapseTwo">
                                <thead>
                                    <tr>
                                        <th>                                           
                                            <div class="btn-group-md">
                                                <img src="images/photo.png" alt="">
                                            </div>                                           
                                        </th>  
                                        <th>{{elcoRegisterEntry.FWWOMFNAME}}</th>
                                        <th>{{elcoRegisterEntry.FWWOMBID}}</th>
                                        <th>{{elcoRegisterEntry.FWWOMAGE}}</th>
                                        <th>{{elcoRegisterEntry.FWHUSNAME}}</th>
                                        <th>{{elcoRegisterEntry.FWBIRTHDATE}}</th> 
                                    </tr>
                                </thead>
                            </table><!--//table body-->
                        </div>
                        <div id="{{elcoRegisterEntry.CASEID}}" class="panel-collapse collapse" role="tabpanel" aria-labelledby="headingTwo">                    
                            <div class="panel-body">
                                <div class="row">
                                    <div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="images/photo2.png" class="img-circle img-responsive"> </div>
                                        <div class=" col-md-9 col-lg-9 "> 
                                            <table class="table table-user-information">
                                                <tbody>
                                                    <tr>
                                                        <td>Department:</td>
                                                        <td>Programming</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Hire date:</td>
                                                        <td>06/23/2013</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Date of Birth</td>
                                                        <td>01/24/1988</td>
                                                    </tr>                       
                                                    <tr>
                                                        <td>Gender</td>
                                                        <td>Male</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Home Address</td>
                                                        <td>Metro Manila,Philippines</td>
                                                    </tr>
                                                    <tr>
                                                        <td>Email</td>
                                                        <td><a href="mailto:info@support.com">info@support.com</a></td>
                                                    </tr>
                                                    <tr>
                                                        <td>Phone Number</td>
                                                        <td>123-4567-890(Landline)<br><br>555-4567-890(Mobile)</td>
                                                    </tr>
                             
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                </div>                     
                            </div>
                        </div
                    
                    </div>
                    <pagination page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit"></pagination>
                    
                </div><!-- content accordion  end -->
            </div>
        </div>
    
</section>

<data-ng-include src="'views/partials/footer.html'" style="clear: both;" class="navbar"></data-ng-include>




