<data-ng-include src="'views/partials/header.html'"></data-ng-include>
<data-ng-include src="'views/partials/main-navbar.html'"></data-ng-include>
<script type="text/javascript" src="assets/js/download.js"></script>
<div class="container-fluid container-tall">
    <div class="row-fluid">
        <div class="span12">
            <div ng-include="'views/partials/indicator-menu.html'" class="hide"></div>
            <br><br><br><br><br><br><br>
               <h1 style="color:red">Household list {{totalItems}} </h1>
                <label>Search:</label> <input type="text" ng-model="search.FWGOBHHID" placeholder="Search" />
                <label>Search:</label> <input type="text" ng-model="search.FWHOHFNAME" placeholder="Search" />
		<p><strong><a href="" ng-click="resetFilters()">Show All</a></strong></p>
               <table class="table table-striped">
                    <thead>
                      <tr>
                        <th>FWWOMFNAME</th>
                        <th>FWHOHFNAME</th>
                        <th>FWGOBHHID</th>
                        <th>FWHOHGENDER</th>
                        <th>FWNHREGDATE</th>
                        
                      </tr>
                    </thead>
                    <tbody>
                      <tr ng-repeat="hhRegisterEntry in data | filter:search | startFrom:(currentPage-1)*entryLimit | limitTo:entryLimit" >
                        
                        <td>{{hhRegisterEntry.ELCODETAILS[0].FWWOMFNAME}}</td>
                        <td>{{hhRegisterEntry.FWHOHFNAME}}</td>
                        <td>{{hhRegisterEntry.FWGOBHHID}}</td>
                        <td>{{hhRegisterEntry.FWHOHGENDER}}</td>
                        <td>{{hhRegisterEntry.FWNHREGDATE}}</td>
                        
                      </tr>
                      
                    </tbody>
              </table>
              
                <pagination page="currentPage" max-size="noOfPages" total-items="totalItems" items-per-page="entryLimit"></pagination>
               <p class="text-center" ng-show="loading">
                <img src="images/spinner.gif"  alt="Opensrp"/>
		</p>
          <!--   <div ng-include="'views/partials/anm-data-summary.html'"></div> -->
                 
            
        </div>
    </div>
</div>

    
    
<div class='mydiv'>    
    <textarea id="txt" class='txtarea'>{{hhRegisterEntries}}</textarea>
    <button class='gen_btn'>Generate File</button>
</div>
<data-ng-include src="'views/partials/footer.html'" style="clear: both;" class="navbar"></data-ng-include>




