<!-- login Grid Section -->
<section id="portfolio" class="login">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2><img src="images/heder_logo.png" alt=""></h2>
                <hr class="star-primary">
            </div>
        </div>
        <div class="row"><!-- login form -->
	    <div class="col-md-4"></div>
            
	    <div class="col-md-4 col-h">
                <center><span class="text-center" ng-show="loading"><img src="images/spinner.gif"  alt="Opensrp"/> </span></center>
                <p class="lead">Enter username and password</p>
                <div id="message"></div>
                <form class="form-signin" data-ng-submit="loginUser()">			
                    <input type="text" class="form-control" id="inputUser" placeholder="Username" data-ng-model="username" required>                                                
                    <input class="form-control" type="password" id="inputPassword" placeholder="Password" data-ng-model="password" required>
                    <button id="login" class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
                  <!--<div class="form-options">
                    <div class="checkbox">
                      <label> <input type="checkbox" name="remember"> Remember Me</label>
                    </div>
                    <ul class="list-inline">
                      <li class="pull-left"><a class="" href="#">Forgot Your Password?</a></li>
                      <li class="pull-right"><a class="" href="#">No account, register</a></li>
                    </ul>
                  </div>  -->
                </form>
	    </div>
	</div>
    </div>
</section>