


<section>  
  <div class="container">
    <div class="row">
        <div class="col-sm-12 col-md-12">
           <div class="row"> 
              <div class="col-sm-12 col-md-12">
                <div class="row">
                  <div class="col-md-3" ng-repeat="(key,value) in getDetailsData"> 
                    <label>{{key}} :</label>{{value}}
                  </div>   
                </div>
              </div> <!--end row -->
             
            </div>
            <div> -------------------------------------------</div>
            <div class="row"> 
              <h1>ANC Visit One</h1>
              <div style="background-color:black">
                <div ng-repeat="(key,value) in ancVisitOne" class="col-md-6" > 
                 <label>{{key}} :</label>{{value}} 
                </div>
              </div>
            </div>

            <div class="row"> 
              <h1>ANC Visit Two</h1>
              <div style="background-color:black">
                <div ng-repeat="(key,value) in ancVisitTwo" class="col-md-6" > 
                 <label>{{key}} :</label>{{value}} 
                </div>
              </div>
            </div>

            <div class="row"> 
              <h1>ANC Visit Three</h1>
              <div style="background-color:black">
                <div ng-repeat="(key,value) in ancVisitThree" class="col-md-6" > 
                 <label>{{key}} :</label>{{value}} 
                </div>
              </div>
            </div>

            <div class="row"> 
              <h1>ANC Visit Four</h1>
              <div style="background-color:black">
                <div ng-repeat="(key,value) in ancVisitFour" class="col-md-6" > 
                 <label>{{key}} :</label>{{value}} 
                </div>
              </div>
            </div>

            <div class="row"> 
              <h1>PNC Visit One</h1>
              <div style="background-color:black">
                <div ng-repeat="(key,value) in pncVisitOne" class="col-md-6" > 
                 <label>{{key}} :</label>{{value}} 
                </div>
              </div>
            </div>

             <div class="row"> 
              <h1>PNC Visit Two</h1>
              <div style="background-color:black">
                <div ng-repeat="(key,value) in pncVisitTwo" class="col-md-6" > 
                 <label>{{key}} :</label>{{value}} 
                </div>
              </div>
            </div>

            <div class="row"> 
              <h1>PNC Visit Three</h1>
              <div style="background-color:black">
                <div ng-repeat="(key,value) in pncVisitThree" class="col-md-6" > 
                 <label>{{key}} :</label>{{value}} 
                </div>
              </div>
            </div>


            <div class="row"  ng-repeat="member in bnfVisitDetails"> 
              <h1>bnfVisitDetails : {{$index+1}}</h1>
              <div style="background-color:black">
                <div ng-repeat="(key,value) in member" class="col-md-6" > 
                 <label>{{key}} :</label>{{value}} 
                </div>
              </div>
            </div>

            <div> -------------------------------------------</div>
             <div class="col-sm-12 col-md-12">
              <h2>Mother details</h2>
                <div class="row">
                  <div class="col-md-3" ng-repeat="(key,value) in details"> 
                    <label>{{key}} :</label>{{value}}
                  </div>   
                </div>
              </div> <!--end row -->
      </div>
    </div>
  </div>   <!--end container -->  
</section>







