  <data-ng-include src="'views/partials/header.html'"></data-ng-include>
<script type="text/javascript" src="assets/js/download.js"></script>

<section>
  <div class="container">
    <div class="row">
      <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>      
      <div class="col-sm-9 col-md-9">

        <!-- <div class="row">
          <div class="panel panel-default" ng-repeat="friend in friends | otherFilter">  
          {{friend.name}} 
          </div>
        </div> -->
        <!-- <div class="row"> -->
        <a href="#/add-privilege">
           <i class="glyphicon glyphicon-list-alt"></i>        
        <span>Add Privilege</span>
        </a>
        <!-- </div> -->
        <br/>
        <br/>
        <div class="row">
          <!-- <div class="panel panel-default" ng-repeat="privilege in privileges">  
            <div ng-attr-class="{{privilege.value._id}}">{{privilege.value.name}}</div>           
          </div> -->

          <table >
          <tr><td>Privilege Name</td><td>Privilege Status</td></tr>
          <tr ng-repeat="privilege in privileges">                      
            <td style="width: 10%"><a href="#/privileges/{{privilege.id}}" >{{privilege.key}}</a> </td>
            <td style="width: 10%">{{privilege.value.status}} default</td>
          </tr>
          </table>
        </div>

      </div>
    </div>
  </div>
    
</section>