<data-ng-include src="'views/partials/header.html'"></data-ng-include>

<section>
    <div class="container">
        <div class="row">
            <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>
            <div class="row"> <!-- main col left -->               
              <div class="col-sm-2 col-md-2"></div>
              <div class="col-sm-9 col-md-9">
                <div id="top" class="login-container">
                  <h2 class="form-signin-heading">Create Role</h2>
                  <p class="lead"></p>
                  <form  class="form-search-patient " ng-submit="save()">
                  <span id="validmessagename" style="color:#000000;display:none">You have typed invalid character. </span>                    
                  <input type="text" class="form-control" ng-required="true" id="name" name="roleName" ng-model="formData.name" placeholder="Role Name">
                  <br />
                  <label> Access Tokens : </label>
                  <span ng-repeat="access in accessList">

                  <input type="checkbox" ng-checked="formData.privilegesOfCurrentRole[access.name]" ng-click="formData.privilegesOfCurrentRole[access.name] = !formData.privilegesOfCurrentRole[access.name]"> {{access.name}}                  
                  </span>
                 
                  </span>
                  <br />
                  <label> Status : </label>
                  <input type="checkbox"  class="role_method" ng-model="formData.status" ng-false-value ="false" ng-true-value="true">
                  <!-- ng-false-value ="'InActive'" ng-true-value="'Active'" -->
                  <br />
                  <div id="message"></div>
                  <button id="submit"  class="btn btn-lg btn-primary btn-block"  type="submit"> Submit</button>
                  </form>
                  {{formData}}
                </div>
              </div>
            </div>
            
        </div>
    </div>    
</section>