<data-ng-include src="'views/partials/header.html'"></data-ng-include>

<section>
    <div class="container">
        <div class="row">
            <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>
            <div class="row"> <!-- main col left --> 
              <div class="col-sm-2 col-md-2"></div>
              <div class="col-sm-9 col-md-9">
                <div id="top" class="login-container">
                  <h2 class="form-signin-heading">Create Role</h2>
                  <p class="lead"></p>
                  <form  class="form-search-patient " ng-submit="save()">
                  <span id="validmessagename" style="color:#000000;display:none">You have typed invalid character. </span>                    
                  <input type="text" class="form-control" id="name" name="roleName" ng-model="formData.roleName" placeholder="Role Name">
                  <input type="hidden" class="form-control" id="roleId" name="roleId" ng-model="formData.roleId" placeholder="Role Name">
                  <br />
                  <label> Access Tokens : </label>
                  <span ng-repeat="access in accessList">
                  <input type="checkbox"  class="role_method" ng-model="formData.accessTokens[$index]" ng-true-value="'{{access}}'">{{access}}
                 
                  </span>
                  <br />
                  <div id="message"></div>
                  <button id="submit"  class="btn btn-lg btn-primary btn-block"  type="submit"> Submit</button>
                  </form>
                </div>
              </div>
            </div>
            
        </div>
    </div>    
</section>