<data-ng-include src="'views/partials/header-inner.html'"></data-ng-include>
<script type="text/javascript" src="assets/js/download.js"></script>
<link rel="stylesheet" href="https://code.jquery.com/ui/1.10.3/themes/smoothness/jquery-ui.min.css" />
<script type="text/javascript" src="https://code.jquery.com/ui/1.10.3/jquery-ui.min.js"></script>
<section>
    <div class="container">
        <div class="row">
            <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>           
            <div class="col-sm-9 col-md-9">
               
              <form  ng-submit="save()">
                <legend>Create Role</legend>
                <label>User Name</label> 
               
                <select name="userName" ng-init="formData.userName = options[0]" ng-model="formData.userName" ng-options="option.name for option in typeOptions" > </select>
                <br />
                <label>Role Name</label> 
                <input type="text" id="roleName" name="roelName" ng-model="formData.roleName" placeholder="Role Name">
                <br />
                <label> Access Tokens </label>
                    <input type="checkbox" ng-model="formData.access[0]" ng-true-value="'household'">Household
                    <input type="checkbox" ng-model="formData.access[1]" ng-true-value="'elco'">Elco
                 <br />
                <button  class="btn btn-primary">Submit</button>
               </form>
                
            </div><!-- content accordion  end -->
        </div>
    </div>    
</section>

<data-ng-include src="'views/partials/footer.html'" style="clear: both;" class="navbar"></data-ng-include>




