<data-ng-include src="'views/partials/header.html'"></data-ng-include>
 <script type="text/javascript" src="assets/js/clone-form-td.js"></script>
<section>
    <div class="container">
        <div class="row">
            <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>
            <div class="row"> <!-- main col left --> 
              <div class="col-sm-2 col-md-2"></div>
              <div class="col-sm-9 col-md-9">
                <div id="top" class="login-container">
                  <h2 class="form-signin-heading">Add Schedule Rule</h2>
                  <p class="lead"></p>
                  <form id="rule_def" ng-submit="save()">
				  <div class="col-sm-9 col-md-12">
                    <label>Schedule Rule Name:</label><input class="form-control ng-pristine ng-untouched ng-valid" ng-model="name" type="text">
					</div>			
                    <div id="rule">
                      <div id="rule1" class="clonedInput">
                       </br></br></br>
						<div class="col-sm-6 col-md-6">
                        <label>Start Form Name</label>
                        <input class="form-control ng-pristine ng-untouched ng-valid" type="text" name="startFormName1[]" />
						</div>
						<div class="col-sm-6 col-md-6">
                        <label>End Form Name</label>
                        <input class="form-control ng-pristine ng-untouched ng-valid" type="text" name="endFormName1[]" />
						</div>
                        <label>Defination</label>
                        <div id="defination_space_1">                        
                        </div>
						</br></br></br>
                        <input class="btn btn-primary dbtn" type="button"  onclick="def(this.id)" class="btnRule" id="btnRule_1" value="add defination">
                      </div><!-- end #entry1 -->
                    </div>
                    <div id="addDelButtons">
                        <input class="btn btn-primary dbtn" type="button" id="btnAdd" value="add Rule">
                    </div>
                    <div id="message"></div>
                    <button id="submit"  class="btn btn-lg btn-primary btn-block"  type="submit"> Submit</button>
                  </form>
                </div>
              </div>
            </div>
            
        </div>
    </div>    
</section>