<data-ng-include src="'views/partials/header.html'"></data-ng-include>
<script type="text/javascript" src="assets/js/download.js"></script>
            
             <br/> 
             <br/>
             <br/>
             <br/>           

             <table class="table table-striped collapsed" >
                  <tr>
                    <td>Schedule id from db</td>
                    <td>Schedule type</td>
                    <td>anmIdentifier</td>
                    <td>scheduleName</td>                        
                  </tr>
              </table>

              <div class="" ng-repeat="schedule in data">
                <div class="" role="tab" id="headingTwo2">
                  <table class="" >
                      <tr>
                        <td>{{schedule.id}}</td>
                        <td>{{schedule.value.type}}</td>
                        <td>{{schedule.value.anmIdentifier
                        }}</td>
                        <td>{{schedule.value.scheduleName}}</td>                        
                      </tr>
                  </table><!--//table body-->
                </div>
              </div>
              
