<data-ng-include src="'views/partials/header.html'"></data-ng-include>
<section>
    <div class="container">
        <div class="row">
            <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>           
            <div class="col-sm-9 col-md-9">
              <div flash-message="5000" ></div>
              
              <div>From schedules.html</div>
              
              
              <div class="spinner" ng-show="loading"> <center><img src="images/spinner.gif"  alt="Opensrp"/></center></div>
            </div><!-- content accordion  end -->
        </div>
    </div>    
</section>
