<data-ng-include src="'views/partials/header.html'"></data-ng-include>
<script type="text/javascript" src="assets/js/download.js"></script>

<section>
  <div class="container">
    <div class="row">
      <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>            
      <div class="col-sm-9 col-md-9">

        <div class="row">
          <div class="panel panel-default" ng-repeat="friend in friends | otherFilter">  
          {{friend.name}} 
          </div>
        </div>

      </div>
    </div>
  </div>
    
</section>