<data-ng-include src="'views/partials/header.html'"></data-ng-include>

<section>
    <div class="container">
        <div class="row">
           
            <div class="row"> <!-- main col left --> 
              <div class="col-sm-2 col-md-2"></div>
              <div class="col-sm-9 col-md-9">
                <div id="top" class="login-container">
                  <h2 class="form-signin-heading">Unauthorized Access</h2>
                  <p class="lead"></p>
                 
                </div>
              </div>
            </div>
            
        </div>
    </div>    
</section>