<data-ng-include src="'views/partials/header.html'"></data-ng-include>
<section>
  <div show-during-resolve class="loader">   
  <center><img src="images/spinner.gif"  alt="Opensrp"/></center>
</div>
    <div class="container">
        <div class="row">
            <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>
            <div class="row"> <!-- main col left --> 
              <div class="col-sm-2 col-md-2"></div>
              <div class="col-sm-9 col-md-9">
                <div id="top" class="login-container">
                  
                    <h2 class="form-signin-heading">User</h2>
                    <p class="lead form-signin-heading"></p>
                    <div flash-message="5000" ></div>
                     <div id="message"></div>
                    <div ng-bind-html="userAssign" ></div>
                    
                    <table>
                      <tr><td>User Name</td><td>Role Name</td><td>Status</td></tr>
                    <!-- <tr ng-repeat="role in roleAndUser track by $index"> -->      
                    <!-- <a href="/#/user/{{role.roleId}}/{{role.roleName}}/{{role.userName}}/{{role.status}}" > -->                
                    <tr ng-repeat="user in Users">
                      <td style="width: 10%"><a href="/#/user/{{user.value.user_name}}" >{{user.value.user_name}}</a> </td>
                      <td style="width: 10%"><span ng-repeat="role in user.value.roles"><a href="/#/role/{{role.id}}" >{{role.name}}</a><br/></span></td>
                      <td style="width: 10%">{{user.value.status}}</td>
                    </tr>
                    </table>
                    <div class="spinner" ng-show="loading"> <center><img src="images/spinner.gif"  alt="Opensrp"/></center></div>
                  </div>
                </div>
            </div>
            
        </div>
    </div>    
</section>






