<data-ng-include src="'views/partials/header.html'"></data-ng-include>
<section>
    <div class="container">
        <div class="row">
            <data-ng-include src="'views/partials/left-sidebar.html'"></data-ng-include>
            <div class="row"> <!-- main col left --> 
              <div class="col-sm-2 col-md-2"></div>
              <div class="col-sm-9 col-md-9">
                <div id="top" class="login-container">
                  
                    <h2 class="form-signin-heading">Edit User </h2>
                    <p class="lead form-signin-heading"></p>
                    <form  ng-submit="save()">                      
                      <label>Role Name</label>
                      <input type="hidden" class="form-control" id="roleId" name="roleId" ng-model="roleId" placeholder="Role Name">
                      <select  class="form-control" name="roleName"  required ng-model="roleName" ng-options="option.roleName for option in roleList" ><option></option> </select>
                      <br />
                       <label>User Name</label> 
                      <select  class="form-control" name="userName"  required ng-model="userName" ng-options="option for option in userList" ><option></option> </select>
                      <br />
                      <label> Status : </label>
                       <span ng-repeat="status in statusData">
                       <input type="checkbox" checklist-model="statusModel" checklist-value="status">
                       </span>
                      <br />
                      <div id="message"></div>
                      <button type="submit" id="submit"  ng-disabled ="disabled" class="btn btn-lg btn-primary btn-block">Submit</button>
                     </form>
                     <div class="spinner" ng-show="loading"> <center><img src="images/spinner.gif"  alt="Opensrp"/></center></div>
                  </div>
                </div>
            </div>
            
        </div>
    </div>    
</section>






